{% extends 'TamagoFeedRenderBundle::layout.html.twig' %}

{%  block body %}

    <div>

        $limit = 5;
        for($x=0;$x<$limit;$x++) {
        $title = str_replace(' & ', ' &amp; ', $feed[$x]['title']);
        $link = $feed[$x]['link'];
        $description = $feed[$x]['desc'];
        $date = date('l F d, Y', strtotime($feed[$x]['date']));
        echo '<p><strong><a href="'.$link.'" title="'.$title.'">'.$title.'</a></strong><br />';
            echo '<small><em>Posted on '.$date.'</em></small></p>';
        echo '<p>'.$description.'</p>';

    </div>

{% endblock %}